[submodule "Dependancies/glfw"]
	path = Dependancies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependancies/glm"]
	path = Dependancies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependancies/OpenMesh"]
	path = Dependancies/OpenMesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "Dependancies/gtest"]
	path = Dependancies/gtest
	url = https://github.com/google/googletest.git
